public-f net.minecraft.world.inventory.Slot f_40220_ # x
public-f net.minecraft.world.inventory.Slot f_40221_ # y
# Убираем final со всех полей, отвечающих за лимит структур
public-f net.minecraft.world.level.block.entity.StructureBlockEntity MAX_SIZE_PER_AXIS
public-f net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate MAX_SIZE